* {
    padding: 0%;
    margin: 0 5px;
    box-sizing: border-box;

    body {
        font-family: sans-serif;
        height: 100vh;
    }
}



#size {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 35px;
    color: red;
    transform: translateX(-50%);
}


header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid red;
}

.header__logo {
    font-size: 4vw;
}

.header__menu {
    display: flex;
    gap: 15px;
    font-size: 2.5vw;

}


main {
    height: 80vh;
    // border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.main__image {
    background-image: url("./images/Portrait.png");
    width: 50%;
    background-size: contain;
    // border: 2px solid red;
    margin-top: 3%;
    background-repeat: no-repeat;
    background-position: left center;
}

.main__text {
    // border: 2px solid red;
    width: 50vw;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__text1 {
    font-size: 8vw;
}

.main__text2, .main__text3, .main__text {
    font-size: 5vw;
}



footer {
    height: 10vh;
    // border: 2px solid green;

    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    margin-right: 10%;
}

div > img {
    width: 5.3vw;
}

span {
    color: rgb(201, 0, 0);
}

@media screen and (max-width: 650px) {
    header {
        justify-content: center;
    }

    .header__logo {
        font-size: 6vh;
    }

    .header__menu {
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__image {
        width: 200px;
        height: 200px;
        margin-top: -20%;
        margin-bottom: 10%;
        border-radius: 100%;
        background-size: 100%;
        background-position: center;
    }

    .main__text {
        width: 100vh;
    }

    .main__text1 {
        display: none;
    }

    .main__text1, .main__text2, .main__text3, .main__text4 {
        font-size: 30px;
    }

    footer {
        justify-content: center;
        margin-right: 0%;
    }
}

